.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px 10px 0 0;
    height: 200px;
}

.card-name {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 0.8rem 0;
}
