body {
    background: url(assets/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}
